{% extends 'base.html.twig' %}

{% block page_name %} Liste des clients {% endblock %}

{% block content %}

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Clients</h3>
                </div>
                <div class="box-body">
                    <table id="example1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
                        <thead>
                        <tr>
                            <th>Code</th>
                            <th>Nom</th>
                            <th>Statut</th>
                            <th>Nombre d'utilisateurs</th>
                            <!--
                            <th>Nombre d'inscriptions</th>
                            <th>Non démarré</th>
                            <th>En cours</th>
                            <th>Terminé</th>
                            <th>Expiré</th>
                            -->
                            <th>Progression</th>
                            <th></th>
                            <th>Actions</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for client in clients %}
                            {% set x = ((client.courseEnrollmentsCompleted / client.courseEnrollments) * 100)|round %}
                            <tr>
                                <td>{{ client.code }}</td>
                                <td>{{ client.nom }}</td>
                                <td>
                                    {% if client.status %}
                                        <span class="label label-success">Actif</span>
                                    {% else %}
                                        <span class="label label-danger">Test</span>
                                    {% endif %}
                                </td>
                                <td>{{ client.totalUsers }}</td>
                                <!--
                                <td>{{ client.courseEnrollments }}</td>
                                <td>{{ client.courseEnrollmentsNotStarted }}</td>
                                <td>{{ client.courseEnrollmentsInProgress }}</td>
                                <td>{{ client.courseEnrollmentsCompleted }}</td>
                                <td>{{ client.courseEnrollmentsExpired }}</td>
                                -->
                                <td>
                                    <div class="progress progress-xs progress-striped active">
                                        <div class="progress-bar {% if x in range(0,20) %} progress-bar-danger {% elseif x in range(20,50) %} progress-bar-warning{% else %} progress-bar-success{% endif %}" style="width: {{ x }}%"></div>
                                    </div>
                                </td>
                                <td>
                                    <span class="badge {% if x in range(0,20) %}bg-red{% elseif x in range(20,50) %}bg-yellow{% else %}bg-green{% endif %}">
                                        {{ x }}%
                                    </span>
                                </td>
                                <td>
                                    <a href="{{ path('client_show', { 'id': client.id }) }}">
                                        <button type="button" class="btn btn-block btn-info btn-xs">Visualiser</button>
                                    </a>
                                </td>
                                <td>
                                    <a href="{{ path('client_edit', { 'id': client.id }) }}">
                                        <button type="button" class="btn btn-block btn-warning btn-xs">Editer</button>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>Code</th>
                            <th>Nom</th>
                            <th>Statut</th>
                            <th>Nombre d'utilisateurs</th>
                            <!--
                            <th>Nombre d'inscriptions</th>
                            <th>Non démarré</th>
                            <th>En cours</th>
                            <th>Terminé</th>
                            <th>Expiré</th>
                            -->
                            <th>Progression</th>
                            <th></th>
                            <th>Actions</th>
                            <th></th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
        </div>
        </div>

                <!-- /.box-body -->

            </div>
            <!-- /.box -->
            <ul>
                <li>
                    <a href="{{ path('client_new') }}">
                        <button type="button" class="btn btn-success btn-xs">Créer un nouveau client</button>
                    </a>
                </li>
            </ul>
        </div>
    </div>

{% endblock %}

{% block javascript %}

    $(function () {
    $('#example1').DataTable()
    $('#example2').DataTable({
    'paging'      : true,
    'lengthChange': false,
    'searching'   : false,
    'ordering'    : true,
    'info'        : true,
    'autoWidth'   : false
    });
    })

{% endblock %}
