{% extends 'base.html.twig' %}
{% block page_name %}Ajouter un client{% endblock %}
{% block content %}

    <section class="content">
        <div class="row">
            <div class="col-md-6">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Formulaire client</h3>
                    </div>

                    <div class="box-body">
                        {{ form_start(form) }}
                        <div class="form-group">
                            Code
                            {{ form_widget(form.code, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="form-group">
                            Nom
                            {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="form-group">
                            {{ form_widget(form.status) }}
                            Statut
                        </div>
 
                        <div align="right">
                            <input type="submit" value="Créer le client" />
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <a href="{{ path('client_list') }}">
            <button type="button" class="btn btn-info btn-xs">
                Liste des clients
            </button>
        </a>
    </section>
{% endblock %}
